.header-ad-zone .widget {
  margin-top: 5px;
  margin-bottom: 10px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Georgia,"Times New Roman",Times,serif;
}
.widgettitle,
.stories h3.widgettitle,
.navbar-inner,
.tags ul li,
.btn-primary,
#site-footer .widgettitle,
#site-footer #menu-footer-navigation h4,
h5.top-tag {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
a {
  color: #333;
  &:hover {
    color: #454545;
  }
}
.single .entry-content a,
.single .entry-content a:hover {
  color: #3587d4;
}
#site-footer a,
#boilerplate a {
  color: #eee;
  &:hover {
    color: #fff;
  }
}